.search { 
    display: flex;
    justify-content: end;
    margin-top: 35px;
    margin-bottom: 40px;
    .search-p {
        font-weight: 400;
        font-size: 20px;
        line-height: 23.4px;
        color: #888888;
        margin-right: 2px;
        @media (max-width: 575.98px) {  
            display: none;
          }
    }
    .search-bar {
        width: 287px;
        height: 47px;
        background-color: #ECECEC;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 575.98px) {  
            width: 100%;
            justify-content: end;
          }
        .inpt {
            border: none;
            font-size: 18px;
            background-color: #ECECEC;
            @media (max-width: 575.98px) {  
                width: 20px;
              }
        }
        .loop {
            // margin: 8px 6px 0 0;
            @media (max-width: 575.98px) {  
                width: 20px;
                margin-right: 13px;
              }
        }
    }
}