@import '../../assets/scss/utils/Consts.scss';

.Nav {
    display: flex;
    justify-content: space-between;
    .logo{
        margin: 15px 0 15px 0;
        @media (max-width: 575.98px) {  
            width: 122px;
            margin: 12px 0 9px 0;

          }
    }
    .btn{
        margin-top: 19px;
        width: 81px;
        height: 37px;
        background:$color-primary;
        font-weight: 500;
        color:$color-white;
        font-size: 16px;
        line-height: 18.75px;
        font-family: 'Roboto';
        @media (max-width: 575.98px) {  
            display: none;
          }
    }
    .imgHambur {
        display: none;
        @media (max-width: 575.98px) {  
            display: block;
          }
    }
}